<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">

    <test name="MyTest">
        <classes>
            <class name="com.example.testcases.SampleTestNGTestCase"/>
            <!-- Add more test classes here -->
        </classes>
    </test>
    <!-- Add more test tags for additional tests -->
</suite>
